
#drunk-section .question1{
    display: flex;
    flex-flow: row;
    /* border: 1px solid red; */
    width: 1000px;
    height: 500px;
    margin-top: 70px;
    background-color: #fff;
}

#drunk-section .question1 .left{
    width: 300px;
    height: 100%;
    /* width: 50px; */
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: end; */
    align-items: flex-end;
}

#drunk-section .left img {
    height: 420px;
    /* border: 1px solid red; */
}

#drunk-section .question1 #question1-main{
    width: 1000px;
    height: 100%;
    /* width: 50px; */
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: end; */
    flex-flow: column;
}

#drunk-section #question1-main .upper {
    /* border: 1px solid red; */
    width: 100%;
    height: 120px;
    /* line-height: 280px; */
    color:black;
    font-size: 2em;
    /* text-align: center; */
}

#drunk-section #question1-main .middle{
    width: 100%;
    /* border: 1px solid red; */
    height: 100px;
    /* line-height: 100px; */
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

#drunk-section .middle img{
    height: 90px;
}

#drunk-section #question1-main .down {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 200px; */
    color:black;
    display: flex;
    /* flex-flow: column; */
    flex-direction: row;


}

#drunk-section .first, .second, .third{
    display: flex;
    flex-grow: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red ; */
    /* padding: 3px; */
    margin-top: 10px;
}

#drunk-section .send{
    /* border: 1px solid red; */
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#drunk-section .answer-box{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 330px;
    flex-flow: wrap;
    justify-content: space-around;
}

#drunk-section .name{
    width: 250px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    /* border: 1px solid red; */
    /* background-color: rgb(173, 107, 107); */
}



.answer{
    width: 100px;
    height: 120px;
    
    display: flex;
    justify-content: space-around;
    margin: 2px;
    overflow: hidden;
}

.first .answer{
    border: 1px dashed red;
}
.first .name{
    /* border: 1px dashed red; */
    color: white;
    background-color: red;
}
.second .name{
    border: 1px dashed gray;
    color: white;
    background-color: gray;
}


.second .answer{
    border: 1px dashed gray;
}
 .third .name{
    border: 1px dashed green;
    color: white;
    background-color: green;
 }

.third .answer{
    border: 1px dashed green;
}

.answer img{
    /* width: 60px; */
    height: 110px;
    /* overflow: scroll; */
}

.btn, .nextbtn{
    width: 150px;
    height: 50px;
    /* border: 1px solid blue; */
    background-color: rgb(20, 171, 231);
    color: #fff;
    border-radius: 10px;
    font-size: 1.5em;
    margin-left: 40px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}



#drunk-section .question1 a{
    text-decoration: none;
    color: black;
}

#drunk-section .question1 a:hover{
    text-decoration: none;
    color: black;
}

.svg{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 200px; */
}


