
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.container {
    width: 1280px;
    height: 750px;
    /* border: 1px solid red; */
    /* background-color: rgb(87, 60, 60); */
}

.container .little-container {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 750px;
    /* border: 1px solid red; */
    background-image: url("../svg/blackBoard2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* justify-content: center; */
    align-items: center;
}


.container .title {
    font-size: 2em;
    margin-top: 25px;
    height: 20px;
    /* border: 1px solid red; */
}

.question1{
    display: flex;
    flex-flow: row;
    /* border: 1px solid red; */
    width: 1000px;
    height: 500px;
    margin-top: 70px;
    background-color: #fff;
}

.question1 .left{
    width: 300px;
    height: 100%;
    /* width: 50px; */
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: end; */
    align-items: flex-end;
}

.left img {
    height: 420px;
    /* border: 1px solid red; */
}

.question1 #main{
    width: 1000px;
    height: 100%;
    /* width: 50px; */
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: end; */
    flex-flow: column;
}

#main .upper {
    /* border: 1px solid red; */
    width: 100%;
    height: 120px;
    /* line-height: 280px; */
    color:black;
    font-size: 2em;
    /* text-align: center; */
}

#main .middle{
    width: 100%;
    /* border: 1px solid red; */
    height: 100px;
    /* line-height: 100px; */
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.middle img{
    height: 90px;
}

#main .down {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 200px; */
    color:black;
    display: flex;
    /* flex-flow: column; */
    flex-direction: row;


}

.first, .second, .third{
    display: flex;
    flex-grow: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red ; */
    /* padding: 3px; */
    margin-top: 10px;
}

.send{
    /* border: 1px solid red; */
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.answer-box{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 330px;
    flex-flow: wrap;
    justify-content: space-around;
}

.name{
    width: 250px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1em;
    border: 1px solid red;
    /* background-color: rgb(173, 107, 107); */
}



.answer{
    width: 65px;
    height: 120px;
    
    display: flex;
    justify-content: space-around;
    margin: 2px;
    overflow: hidden;
}

.first .answer{
    border: 1px dashed red;
}
.first .name{
    border: 1px dashed red;
    color: white;
    background-color: red;
}
 .second .name{
    border: 1px dashed gray;
    color: white;
    background-color: gray;
}


.second .answer{
    border: 1px dashed gray;
}
 .third .name{
    border: 1px dashed green;
    color: white;
    background-color: green;
 }

.third .answer{
    border: 1px dashed green;
}

.answer img{
    /* width: 60px; */
    height: 110px;
    /* overflow: scroll; */
}

.btn, .nextbtn{
    width: 150px;
    height: 50px;
    /* border: 1px solid blue; */
    background-color: rgb(20, 171, 231);
    color: #fff;
    border-radius: 10px;
    font-size: 1.5em;
    margin-left: 40px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.btn :hover{
    background-color: blue;
    color: white;
    font-size: 2em;
}

.question1 a{
    text-decoration: none;
    color: black;
}

.question1 a:hover{
    text-decoration: none;
    color: black;
}
