* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.container {
    width: 1280px;
    height: 750px;
    /* border: 1px solid red; */
    /* background-color: rgb(87, 60, 60); */
}

.container .little-container {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 750px;
    /* border: 1px solid red; */
    background-image: url("../svg/blackBoard2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* justify-content: center; */
    align-items: center;
}
.img {
    margin-top: 250px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title {
    font-size: 2em;
    margin-top: 25px;
    height: 20px;
    /* border: 1px solid red; */
}

.question1{
    display: flex;
    flex-flow: row;
    /* border: 1px solid red; */
    width: 1000px;
    height: 500px;
    margin-top: 70px;
    background-color: #fff;
}

.question1 .left{
    width: 300px;
    height: 100%;
    /* width: 50px; */
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: end; */
    align-items: flex-end;
}

.left img {
    height: 420px;
    /* border: 1px solid red; */
}

.question1 #main{
    width: 700px;
    height: 100%;
    /* width: 50px; */
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column;
}

#main .upper {
    /* border: 1px solid red; */
    width: 100%;
    height: 140px;
    /* line-height: 280px; */
    color:black;
    font-size: 2em;
    /* text-align: center; */
}

#main .middle{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}

#main .down {
    /* border: 1px solid red; */
    width: 100%;
    height: 400px;
    color:black;
    display: flex;
    flex-grow: row;
    justify-content: space-around;
    align-items: center;

}

.libra {
    /* margin-top: -50px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.people {
    display: flex;
    flex-direction: row;
    width: 580px;
    /* width: 800px; */
    /* border: 1px solid red; */
    /* justify-content: space-around; */
}

.boy {
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    background-size: cover;
    background-image: url("../svg/boy.svg");
    margin-left: -10px;
    cursor: pointer;
}

.boy:hover,
.girl:hover {
    border: 2px solid black;
    border-radius: 99em;
}

.circle {
    border: 2px solid black;
    border-radius: 99em;
}

.girl {
    cursor: pointer;
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    background-size: cover;
    background-image: url("../svg/woman.svg");
    margin-left: 340px;
}

.bridge {
    width: 580px;
    height: 150px;
    /* border: 1px solid red; */
    background-size: contain;
    background-image: url("../svg/bridge.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform:rotate(5deg);
    animation-duration: 2s; */
}

.bridge .sendbtn {
    width: 100px;
    height: 100px;
    line-height: 100px;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1.4em;
    color: black;
    margin-top: 40px;
}

.bridge .sendbtn:hover {
    font-size: 2em;
    cursor: pointer;
}

.nextgame{
    border: 1px solid #007bff;
    border-radius: .25rem;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
}

.question1 a{
    text-decoration: none;
}


.send{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.sendbtn, .nextbtn{
    border-radius: .25rem;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
}

.modal-content .fault{
    font-size: 4em;
    color:red;
}

.modal-content .right{
  font-size: 4em;
  color:blue;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.blue{
    border: 1px solid #007bff;
    background-color: #007bff;
}

.info{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.gray{
    background-color: #6c757d;
    border-color: #6c757d;
}

#static{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#static .modal-content {
    background-color: #fefefe;
    margin: 5%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* height: 80%; */
    text-align: center;
  }

  #static  .modal-content .statics{
    display: flex;
    padding: 30px;
  }

  .big-title{
      font-size: 1.5em;
      font-weight: bold;
  }

  .analysis{
      width: 80%;
      
      /* border: 1px solid red; */
      padding: 20px;
  }

  .analysis .text{
      width: 700px;
      height: 100px;
      line-height: 30px;
      text-align:justify;
      border: 1px dashed red;
      font-size: 1.1em;
      letter-spacing: 3px;

  }